<style>
	body {
    margin: 0;
	padding: 0;
    font-family: "DM Serif Display", serif;
    background-color: #f5f6fa;
	}
		
		/* Sidebar */
		.sidebar {
			position: fixed;
			top: 0;
			left: 0;
			width: 320px;
			height: 100vh;
			background-color: #1B4FC0;
		}
		.sidebar h2 {
			margin-top: 40px;
			margin-bottom: 48px;
			text-align: center; 
			padding: 20px;
			font-size: 35px; 
			color: white;
		}
		.sidebar ul {
			list-style: none;
			padding-left: 0;
			text-align: center;
		}
		.sidebar li {
			margin: 20px 0;
			cursor: pointer;
			text-align: center;
			padding-bottom: 20px;
			color: white;
			font-size: 25px
		}
		.sidebar ul li {
			display: block;
			position: relative;
			padding: 8px 16px;
			flex-wrap: nowrap; 
		}
		.sidebar ul li::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0%;
			height: 2px;
			background-color: #FFE747;
			transition: width 0.3s ease;
			transform: translateX(-50%);
		}
		.sidebar ul li:hover::after {
			width: 50%;
		}
		.sidebar li.active::after {
			width: 50%;
		}
		
		/* Main Content */
		.main {
			margin-left: 328px;
			margin-bottom: 58px;
			padding: 20px;
			font-size: 20px;
		}
		
		/* Cards */
		.cards {
			display: flex;
			gap: 42px;
			flex: nowrap;
			margin-bottom: 68px;
			width: 1480px;
			margin-right: 60px;
			justify-content: space-evenly;
		}
		.card {
			background: white;
			padding: 20px;
			border-radius: 16px;
			flex: 1 1 200px;
			box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.3);
			text-align: center;
			font-size: 25px;
			max-width: 484px;      
			background-color: #FFFFFF; 
		}

		/* Table */
		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 20px;
		}
		th, td {
			padding: 12px;
			border-bottom: 2px solid #CCC;
			text-align: left;
			font-size: 20px;
		}
		
		.status {
			display: inline-flex;
			align-items: center;
			gap: 6px;
			padding: 6px 12px;
			border-radius: 999px;
			font-size: 20px;
			font-weight: 500;
			white-space: nowrap;
			box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.3);
		}
		.status .dot {
			width: 12px;
			height: 12px;
			border-radius: 50%;
		}
		.status--in-progress {
			background-color: #FFFFFF
			color: #000000;
		}
		.status--completed {
			background-color: #FFFFFF;
			color: #000000;
		}
		.status--not-started {
			background-color: #FFFFFF;
			color: #000000;
		}
		.status--in-progress .dot {
			background-color: #BD8400;
		}
		.status--completed .dot {
			background-color: #176336;
		}
		.status--not-started .dot {
			background-color: #AB2117;
		}
		.settings i {
			font-size: 32px;
			color: #FFFFFF;
			width: 140px;   
			height: 140px;
			cursor: pointer;
			margin-left: 20px;
			margin-top: 440px;
		}
</style>





